* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d8d6d6;
  text-align: center;
}

.container {
  width: 50vw;
  margin: auto;
  background-color: #ffffff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr);
  gap: 5px;
}

.gals {
  width: 100%;
  height: 300px;
}

.gals:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}
